$img: "/static/images/personal-center/";

.kid-data {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.kid-data header {
  width: 100%;
  height: 0.97rem;
  padding: 0.2rem 0.4rem;
  border-bottom: 1px solid #b2b2b2;
  position: relative;
  .return {
    display: block;
    float: left;
    width: 0.26rem;
    height: 100%;
    background: url($img + "return.png") no-repeat center/100% auto;
  }
  span.save {
    display: block;
    float: right;
    font-size: 0.32rem;
    color: #ffbf0d;
    line-height: 0.6rem;
  }
  p {
    height: 0.34rem;
    width: 4rem;
    text-align: center;
    font-size: 0.34rem;
    color: #333434;
    line-height: 0.34rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.kid-data .content {
  li.item {
    width: 100%;
    height: 0.86rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span.item-name {
      font-size: 0.34rem;
      color: #333434;
      line-height: 0.34rem;
    }
    .item-content {
      position: relative;
      display: flex;
      align-items: center;
      img.pic {
        display: block;
        width: 0.9rem;
        height: 0.9rem;
      }
      span {
        font-size: 0.3rem;
        color: #949494;
        line-height: 0.34rem;
      }
      .come-in {
        margin-left: 0.25rem;
        width: 0.2rem;
        height: 0.34rem;
        background: url($img + "come_in.png") no-repeat center/0.16rem 0.28rem;
      }
    }
  }
  li.item:nth-child(1) {
    height: 1.2rem;
  }
}

.kid-data .item-set {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .shadow {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }
  .part-content {
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    p {
      border-bottom: 1px solid #e5e5e5;
      font-size: 0.34rem;
      color: #343434;
      line-height: 0.88rem;
      text-align: center;
    }
  }

}
