$img: "/static/images/personal-center/";

.login {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.login header {
  width: 100%;
  height: 0.97rem;
  padding: 0.2rem 0.4rem;
  border-bottom: 1px solid #b2b2b2;
  .return {
    float: left;
    height: 100%;
    font-size: 0.34rem;
    color: #333434;
    line-height: 0.54rem;
  }
}

.login .logo {
  margin: 0.4rem auto 0;
  width: 1.5rem;
  height: 2rem;
  background: url($img + "logo.png") no-repeat center/auto 100%;
}

.login .login-box {
  width: 100%;
  padding: 0 1.02rem;
  position: relative;
  .item {
    width: 100%;
    position: relative;
    input {
      display: block;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding: 0.75rem 0 0.2rem 0.2rem;
      font-size: 0.26rem;
      color: #333434;
      line-height: 0.26rem;
    }
    p.false-hint {
      font-size: 0.24rem;
      color: #FF3023;
      position: absolute;
      top: 105%;
      left: 0.4rem;
    }
  }
  .login-no-password {
    display: block;
    font-size: 0.2rem;
    color: #ffbf0d;
    line-height: 0.2rem;
    position: absolute;
    bottom: 0.16rem;
    right: 1.2rem;
  }
}

.login .button-box {
  width: 100%;
  margin-top: 0.65rem;
  li.item {
    width: 5.4rem;
    height: 0.88rem;
    margin: 0 auto;
    border: 1px solid #ffbf0d;
    border-radius: 0.1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin: 0 0.2rem;
      font-size: 0.34rem;
      line-height: 0.34rem;
    }
  }
  li.item:nth-child(1) {
    background-color: #ffbf0d;
    span {
      color: #fff;
    }
  }
  li.item:nth-child(2) {
    margin-top: 0.55rem;
    span {
      color: #ffbf0d;
    }
  }
}

.login .error-login{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .error-content{
    width: 5.4rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    background-color: #fff;
    position: relative;
    .p-box{
      width: 100%;
      padding-top: 0.22rem;
      p{
        margin-bottom: 0.18rem;
        text-align: center;
        font-size: 0.26rem;
        color: #0d0408;
        line-height: 0.26rem;
      }
      p:nth-child(1){
        font-size: 0.34rem;
        color: #333434;
        line-height: 0.34rem;
      }
    }
    ul.select-box{
      width: 100%;
      height: 0.8rem;
      border-top: 1px solid #e5e5e5;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      li.item{
        flex: 1;
        height: 100%;
        font-size: 0.3rem;
        line-height: 0.3rem;
        color: #333434;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li.item:nth-child(1){
        border-right: 1px solid #e5e5e5;
      }
      li.item:nth-child(2){
        color: #108ee9;
      }
    }
  }
}

//.login footer {
//  width: 100%;
//  padding-bottom: 0.25rem;
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  .title {
//    width: 100%;
//    height: 0.28rem;
//    padding: 0 0.4rem;
//    display: flex;
//    align-items: center;
//    .line {
//      flex: 1;
//      height: 1px;
//      background-color: #9a9a9a;
//    }
//    span {
//      margin: 0 0.05rem;
//      font-size: 0.28rem;
//      color: #9a9a9a;
//      line-height: 0.28rem;
//    }
//  }
//  ul.content {
//    width: 100%;
//    margin-top: 0.2rem;
//    display: flex;
//    justify-content: center;
//    li.item {
//      width: 1rem;
//      margin: 0 0.4rem;
//      position: relative;
//      .icon {
//        width: 100%;
//        height: 0.6rem;
//        border-radius: 50%;
//      }
//      p {
//        margin-top: 0.15rem;
//        font-size: 0.24rem;
//        color: #9a9a9a;
//        line-height: 0.24rem;
//        text-align: center;
//      }
//    }
//    li.item:nth-child(1) .icon {
//      background: url($img + "alipay.png") no-repeat center/auto 100%;
//    }
//    li.item:nth-child(2) .icon {
//      background: url($img + "micro_blog.png") no-repeat center/auto 100%;
//    }
//    li.item:nth-child(3) .icon {
//      background: url($img + "wechat.png") no-repeat center/auto 100%;
//    }
//  }
//}
