$img: "/static/images/personal-center/";

.login-by-code {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.login-by-code header {
  width: 100%;
  height: 0.97rem;
  padding: 0.2rem 0.4rem;
  border-bottom: 1px solid #b2b2b2;
  position: relative;
  .return {
    float: left;
    width: 0.26rem;
    height: 100%;
    background: url($img + "return.png") no-repeat center/100% auto;
  }
  p {
    height: 0.34rem;
    width: 4rem;
    text-align: center;
    font-size: 0.34rem;
    color: #333434;
    line-height: 0.34rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.login-by-code .content {
  width: 100%;
  margin-top: 1.6rem;
  position: relative;
  input.phone {
    display: block;
    width: 5.5rem;
    margin: 0 auto;
    padding: 0.24rem 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.28rem;
    color: #333434;
    line-height: 0.28rem;
    text-align: center;
  }
  ul.identify-code {
    width: 100%;
    margin-top: 0.4rem;
    padding: 0 0.85rem;
    display: flex;
    justify-content: space-between;
    li.item {
      width: 0.8rem;
      height: 0.8rem;
      border: 1px solid #9a9a9a;
      input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 0.34rem;
        color: #333434;
      }
    }
  }
  p.hint {
    margin-top: 0.2rem;
    font-size: 0.24rem;
    color: #a9a9a9;
    line-height: 0.24rem;
    text-align: center;
  }
  .agreement-button {
    width: 100%;
    margin-top: 0.38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .pick-button {
      width: 0.4rem;
      height: 0.4rem;
      background: url($img + "agreement_false.png") no-repeat center/100%;
      &.active {
        background: url($img + "agreement_true.png") no-repeat center/100%;
      }
    }
    span {
      margin-left: 0.15rem;
      font-size: 0.24rem;
      color: #a9a9a9;
      line-height: 0.24rem;
    }
    a {
      font-size: 0.24rem;
      color: blue;
      line-height: 0.24rem;
    }
  }
  p.false-hint {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1.4rem;
  }
}

.login-by-code .content .send-code {
  margin: 1rem auto 0;
  width: 2.85rem;
  height: 0.88rem;
  border-radius: 0.1rem;
  background-color: #ffbf0d;
  font-size: 0.34rem;
  color: #fff;
  line-height: 0.34rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-by-code .content ul.send-code_{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  li.item{
    width: 2.8rem;
    height: 0.88rem;
    margin: 0 0.3rem;
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li.item:nth-child(1){
    background-color: #ffbf0d;
    font-size: 0.34rem;
    line-height: 0.34rem;
    color: #fff;
  }
  li.item:nth-child(2){
    border: 1px solid #ffbf0d;
    font-size: 0.34rem;
    line-height: 0.34rem;
    color: #ffbf0d;
  }
}

.login-by-code .content .too-much{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .error-content{
    width: 5.4rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    background-color: #fff;
    position: relative;
    .p-box{
      width: 100%;
      padding-top: 0.22rem;
      p{
        margin-bottom: 0.18rem;
        text-align: center;
        font-size: 0.26rem;
        color: #0d0408;
        line-height: 0.26rem;
      }
      p:nth-child(1){
        font-size: 0.34rem;
        color: #333434;
        line-height: 0.34rem;
      }
    }
    ul.select-box{
      width: 100%;
      height: 0.8rem;
      border-top: 1px solid #e5e5e5;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      li.item{
        flex: 1;
        height: 100%;
        font-size: 0.3rem;
        line-height: 0.3rem;
        color: #333434;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li.item:nth-child(1){
        border-right: 1px solid #e5e5e5;
      }
      li.item:nth-child(2){
        color: #108ee9;
      }
    }
  }
}

.login-by-code .content-password{
  width: 100%;
  margin-top: 1.6rem;
  position: relative;
  input.password {
    display: block;
    width: 5.5rem;
    margin: 0 auto;
    padding: 0.24rem 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.28rem;
    color: #333434;
    line-height: 0.28rem;
    text-align: center;
  }
  p.hint {
    margin-top: 0.2rem;
    font-size: 0.24rem;
    color: #a9a9a9;
    line-height: 0.24rem;
    text-align: center;
  }
  p.false-hint {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1.4rem;
  }
  .save-password{
    margin: 1rem auto 0;
    width: 2.85rem;
    height: 0.88rem;
    border-radius: 0.1rem;
    background-color: #ffbf0d;
    font-size: 0.34rem;
    color: #fff;
    line-height: 0.8rem;
    text-align: center;
    letter-spacing: 1px;
  }
}


