$img: "/static/images/home-page/";

.course-catalog {
  width: 100%;
}

.course-catalog .title {
  width: 100%;
  height: 0.94rem;
  padding-left: 0.24rem;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  span {
    display: block;
    font-size: 0.36rem;
    color: #333;
    line-height: 0.36rem;
  }
}

.course-catalog .contents {
  width: 100%;
  padding-left: 0.24rem;
  .item {
    width: 100%;
    padding: 0.15rem 0;
    border-bottom: 1px solid #efefef;
    position: relative;
    .index {
      float: left;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      border: 1px solid #ffbf0d;
      font-size: 0.36rem;
      color: #ffbf0d;
      text-align: center;
    }
    .details {
      float: left;
      margin-left: 0.12rem;
    }
    .details .section-title {
      font-size: 0.3rem;
      color: #333;
      line-height: 0.3rem;
    }
    .details .span-box {
      margin-top: 0.08rem;
      span {
        float: left;
        font-size: 0.24rem;
        color: #a8a8a8;
        line-height: 0.24rem;
      }
      span:nth-child(2) {
        margin-left: 1.85rem;
      }
    }
    .play-button {
      width: 0.52rem;
      height: 0.52rem;
      border-radius: 50%;
      background: url($img + "play_button.png") no-repeat center/100%;
      position: absolute;
      right: 0.67rem;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
