$img: "/static/images/home-page/";

.evaluate {
  width: 100%;
}

.evaluate .score-box {
  width: 100%;
  border-bottom: 0.1rem solid #efefef;
  padding-bottom: 0.2rem;
  .stars {
    width: 100%;
    padding: 0.2rem 1.8rem;
    display: flex;
    justify-content: space-between;
    .item {
      width: 0.38rem;
      height: 0.36rem;
      background: url($img + "star.png") no-repeat center/100%;
      &.active {
        background: url($img + "star_half.png") no-repeat center/100%;
      }
    }
  }
  .score {
    width: 100%;
    display: flex;
    justify-content: center;
    span {
      display: block;
      font-size: 0.3rem;
      color: #ffbf0d;
      line-height: 0.3rem;
    }
  }
  .describe {
    margin-top: 0.1rem;
    font-size: 0.22rem;
    color: #333;
    text-align: center;
    line-height: 0.22rem;
  }
}

.evaluate .contents {
  width: 100%;
  li.item {
    width: 100%;
    padding: 0.2rem 0 0.2rem 0.3rem;
    border-bottom: 1px solid #e5e5e5;
    a.pic {
      float: left;
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .pic-right {
      float: left;
      width: 5.8rem;
      margin-left: 0.12rem;
    }
    .pic-right .name-time {
      width: 100%;
      span {
        font-size: 0.28rem;
        color: #333434;
        line-height: 0.28rem;
      }
      span.user-name {
        float: left;
      }
      span.time {
        float: right;
      }
    }
    .pic-right p.text-content {
      width: 100%;
      padding-right: 0.4rem;
      margin-top: 0.2rem;
      font-size: 0.24rem;
      color: #333434;
      line-height: 0.3rem;
    }
  }
}

.evaluate .more {
  width: 100%;
  height: 0.7rem;
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    font-size: 0.3rem;
    color: #1d1d1d;
    line-height: 0.3rem;
  }
  .icon {
    margin-left: 0.15rem;
    width: 0.24rem;
    height: 0.24rem;
    background: url($img + "more.png") no-repeat center/100%;
  }
}
